{% extends 'base.html.twig' %}

{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        Topics
    {% endif %}
{% endblock %}

{% block body %}
    {% if title %}
        <h1>{{ title }}</h1>
        <div>{{ content|raw }}</div>
    {% else %}
        <h1>Topics</h1>
        <div>
            <h2>Filter by Tag</h2>
            <ul id="tag-list">
                <li><a href="#" data-tag="">all</a></li>
                {% for tag in all_tags %}
                    <li><a href="#" data-tag="{{ tag }}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h2>Posts</h2>
            <ul id="post-list">
                {% for post in posts %}
                    <li>
                        <a href="{{ path('blog_post', {slug: post.slug}) }}">{{ post.title }}</a>
                        <small>Tags: {{ post.tags|join(', ') }}</small>
                    </li>
                {% else %}
                    <li>No posts found.</li>
                {% endfor %}
            </ul>
        </div>

        <script>
            const fetchBlogPostsUrl = "{{ path('api_v1_blog_list') }}";
        </script>
        <script src="{{ asset('js/filterBlogPosts.js') }}"></script>
    {% endif %}
{% endblock %}