<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Primary Meta Tags -->
    <meta name="title" content="Mykyta's Website - Personal Blog on Tech, Occult, Esoteric, Fantasy, and More">
    <meta name="description" content="Mykyta Korsikov's personal blog covering topics like tech, occult, esoteric, fantasy, mythology, web development, internet privacy, cyber-security, religion, mysticism, magic, philosophy, and paganism.">
    <meta name="keywords" content="tech, occult, esoteric, fantasy, mythology, web development, internet privacy, cyber-security, religion, mysticism, magic, personal blog, philosophy, pagan, paganism">
    <meta name="author" content="Mykyta Korsikov">

    <!-- Robots -->
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="bingbot" content="index, follow">

    <!-- Charset -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Language -->
    <meta http-equiv="content-language" content="en">

    <!-- Rating -->
    <meta name="rating" content="General">

    <!-- Open Graph / Facebook -->
    <meta property="og:site_name" content="Mykyta's Website">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ getEnv('domain_url') }}">
    <meta property="og:title" content="Mykyta's Website - Personal Blog on Tech, Occult, Esoteric, Fantasy, and More">
    <meta property="og:description" content="Mykyta Korsikov's personal blog covering topics like tech, occult, esoteric, fantasy, mythology, web development, internet privacy, cyber-security, religion, mysticism, magic, philosophy, and paganism.">
    <meta property="og:image" content="{{ getEnv('domain_url') }}/assets/images/korsikov_blog_avatar.webp">
    <meta property="og:image:width" content="630">
    <meta property="og:image:height" content="630">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{ getEnv('domain_url') }}">
    <meta name="twitter:title" content="Mykyta's Website - Personal Blog on Tech, Occult, Esoteric, Fantasy, and More">
    <meta name="twitter:description" content="Mykyta Korsikov's personal blog covering topics like tech, occult, esoteric, fantasy, mythology, web development, internet privacy, cyber-security, religion, mysticism, magic, philosophy, and paganism.">
    <meta name="twitter:image" content="{{ getEnv('domain_url') }}/assets/images/korsikov_blog_avatar.webp">
    <meta name="twitter:image:alt" content="Mykyta Korsikov's Blog Avatar">

    <!-- LinkedIn -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="Mykyta's Website - Personal Blog on Tech, Occult, Esoteric, Fantasy, and More">
    <meta property="og:description" content="Mykyta Korsikov's personal blog covering topics like tech, occult, esoteric, fantasy, mythology, web development, internet privacy, cyber-security, religion, mysticism, magic, philosophy, and paganism.">
    <meta property="og:image" content="{{ getEnv('domain_url') }}/assets/images/korsikov_blog_avatar.webp">
    <meta property="og:url" content="{{ getEnv('domain_url') }}">
    <meta property="og:site_name" content="Mykyta's Website">

    <!-- Favicon -->
    <link rel="icon" href="{{ asset('assets/images/korsikov_blog_snake.webp') }}">

    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/images/korsikov_blog_avatar.webp') }}">

    <!-- Microsoft Tiles -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset('assets/images/korsikov_blog_avatar.webp') }}">
    <meta name="theme-color" content="#ffffff">

    <title>{% block title %}Mykyta's Website{% endblock %}</title>

    <!-- Background -->
    <link rel="icon" href="{{ asset('assets/images/korsikov_blog_snake.webp') }}">

    <!-- Fonts -->
    <link rel="stylesheet" href="{{ asset('assets/fonts/MedievalSharp.woff2') }}">

    <!-- Stylesheets -->
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/styles.css') }}">
    {% endblock %}
</head>
<body class="magic-book">
<header>
    <div class="avatar-container">
        <a href="{{ path('about_page') }}">
            <img src="{{ asset('assets/images/korsikov_blog_avatar.webp') }}" alt="Avatar" class="avatar">
        </a>
    </div>
    <h1 class="header-title">Mykyta's Website</h1>
    <nav class="navigation">
        <ul>
            <li><a href="{{ path('home_page') }}" class="nav-button">Home</a></li>
            <li><a href="{{ path('blog_page') }}" class="nav-button">Blog</a></li>
            <li><a href="{{ path('link_list_page') }}" class="nav-button">Link List</a></li>
            <li><a href="{{ path('contact_page') }}" class="nav-button">Contact</a></li>
            <li><a href="{{ path('cv_page') }}" class="nav-button">CV</a></li>
        </ul>
    </nav>
</header>

<main class="container">
    {% block body %}{% endblock %}
</main>

<footer class="footer">
    <div class="container">
        <p>&copy; {{ "now"|date("Y") }} Mykyta's Website. All rights reserved.</p>
        <p>Email: <a href="mailto:{{ getEnv('blog_email') }}">{{ getEnv('blog_email') }} ✨</a></p>
        <p><a href="{{ path('about_page') }}">About</a> | <a href="{{ path('privacy_policy_page') }}">Privacy Policy</a></p>
        <p><a href="{{ getEnv('github_url') }}/korsikov-simple-blog">Code on GitHub</a></p>
        <p><a href="{{ getEnv('domain_url') }}">{{ getEnv('domain_url') }}</a></p>
    </div>
</footer>

{% block javascripts %}
{% endblock %}
</body>
</html>