<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="{{ asset('assets/images/korsikov_blog_snake.webp') }}">
    <link rel="stylesheet" href="{{ asset('assets/fonts/MedievalSharp.woff2') }}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/fontawesome/css/all.min.css') }}">
    {% endblock %}
</head>
<body class="magic-book">
<header>
    <h1 class="header-title">Welcome to My Arcane Compendium</h1>
    <nav class="navigation">
        <ul>
            <li><a href="{{ path('home_page') }}" class="home-button">Home</a></li>
            <!-- Add other navigation links here -->
        </ul>
    </nav>
</header>

<main class="container">
    {% block body %}{% endblock %}
</main>

<footer>
    <p>&copy; {{ "now"|date("Y") }} Arcane Compendium</p>
    <div class="social-media">
        <a href="https://www.facebook.com" target="_blank" class="social-icon"><i class="fab fa-facebook-square"></i></a>
        <a href="https://www.twitter.com" target="_blank" class="social-icon"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com" target="_blank" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
    </div>
</footer>

{% block javascripts %}
    <!-- Include your JavaScript files here if needed -->
{% endblock %}
</body>
</html>