<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="{{ asset('assets/images/korsikov_blog_snake.webp') }}">
    <link rel="stylesheet" href="{{ asset('assets/fonts/MedievalSharp.woff2') }}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/styles.css') }}">
    {% endblock %}
</head>
<body class="magic-book">
<header>
    <div class="avatar-container">
        <img src="{{ asset('assets/images/korsikov_blog_avatar.webp') }}" alt="Avatar" class="avatar">
    </div>
    <h1 class="header-title">Welcome to My Arcane Compendium</h1>
    <nav class="navigation">
        <ul>
            <li><a href="{{ path('home_page') }}" class="nav-button">Home</a></li>
            <li><a href="{{ path('contact_page') }}" class="nav-button">Contact</a></li>
            <!-- Add other navigation links here -->
        </ul>
    </nav>
</header>

<main class="container">
    {% block body %}{% endblock %}
</main>

{% block javascripts %}
    <!-- Include your JavaScript files here if needed -->
{% endblock %}
</body>
</html>