<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV - Backend Web Developer</title>
    <link rel="stylesheet" href="{{ asset('assets/styles.css') }}">
</head>
<body class="cv-body">
<div class="container">
    <header class="header">
        <h1 class="name">Mykyta Korsikov</h1>
        <p class="title">Backend Web Developer</p>
        <img src="{{ asset('assets/images/korsikov_blog_computer.webp') }}" alt="Computer Picture">
    </header>

    <section class="contact-info">
        <p>Email: <a href="mailto:{{ getEnv('work_email') }}">{{ getEnv('work_email') }}</a></p>
        <p>GitHub: <a href="{{ getEnv('github_url') }}" target="_blank">github.com/Gogeruk</a></p>
        <p>Messenger: <a href="{{ getEnv('messenger_url') }}" target="_blank">m.me/korsikov.mykyta</a></p>
        <p>LinkedIn: <a href="{{ getEnv('linkedin_url') }}" target="_blank">linkedin.com/in/mykyta-korsikov</a></p>
        <p>Location: Odessa, Ukraine</p>
    </section>

    <section class="profile">
        <h2>Profile</h2>
        <p>A well-known Latin phrase, "Per aspera ad astra" - describes me well. I am a passionate and diligent web developer with a strong background in PHP and Symfony.</p>
    </section>

    <section class="experience">
        <h2>Experience</h2>
        <div class="job">
            <h3>Backend Developer</h3>
            <p class="company">NDA | Ukraine | 08/2022 - Present</p>
            <ul>
                <li>Developed and maintained Symfony backend systems.</li>
                <li>Developed and maintained a REST API for a large LMS project.</li>
                <li>Improved legacy code for better performance and maintainability.</li>
                <li>All aspects of relational database management.</li>
            </ul>
        </div>
        <div class="job">
            <h3>Junior PHP Developer</h3>
            <p class="company">Nexteum | Odessa | 06/2021 - 06/2022</p>
            <ul>
                <li>Developed backend components using Symfony.</li>
                <li>Implemented web scraping, parsing, and crawling solutions.</li>
                <li>Worked extensively with legacy codebases.</li>
                <li>Handled various tasks involving relational database management.</li>
            </ul>
        </div>
        <div class="job">
            <h3>English Teacher</h3>
            <p class="company">Uncle Sam Kids English | Beijing, Hebei | 11/2018 - 03/2020</p>
            <ul>
                <li>Provided English tutoring to students of various age groups.</li>
                <li>Collaborated with colleagues to develop effective teaching strategies.</li>
            </ul>
        </div>
    </section>

    <section class="education">
        <h2>Education</h2>
        <p>PHP Web Development Certification</p>
        <p class="institution">Computer School Hillel | Odessa | 05/2021</p>
        <p>Bachelor of Science in Biology</p>
        <p class="institution">Odessa Mechnikov National University | Odessa | 07/2018</p>
    </section>

    <section class="skills">
        <h2>Skills</h2>
        <ul>
            <li>LAMP stack</li>
            <li>Advanced comprehension of client-server architecture</li>
            <li>Strong knowledge of OOP principles</li>
            <li>Relational database design and optimization</li>
            <li>I love Docker</li>
            <li>Proficiency in MVC and other design patterns</li>
            <li>REST API development and integration</li>
            <li>PHP frameworks - Symfony and Laravel</li>
            <li>Basic skills in HTML, CSS, JavaScript (DOM, AJAX requests)</li>
            <li>Web scraping, parsing, and crawling techniques</li>
            <li>Confident user of Bash</li>
            <li>Unit testing and test-driven development</li>
            <li>Data mining tools (nmap, Burp Suite, sqlmap)</li>
            <li>API authentication and authorization (OAuth, JWT)</li>
            <li>Version control with Git</li>
        </ul>
    </section>
    <div class="header">
        <img src="{{ asset('assets/images/korsikov_blog_keyboard.webp') }}" alt="Keyboard Picture">
    </div>
</div>
</body>
</html>