{% extends 'base.html.twig' %}

{% block title %}Home Page - Mykyta's Website{% endblock %}

{% block body %}
    <section class="card">
        <h2>Magic is disgusting</h2>
        <p class="highlight">If you practice magic, I consider you guilty of <a href="https://en.wikipedia.org/wiki/Ergi" target="_blank">ergi</a> and utterly despise your <a href="https://en.wikipedia.org/wiki/Ergi" target="_blank">argr</a> behavior.</p>

        <img src="{{ asset('assets/images/random/korsikov_blog_image_' ~ random ~ '.webp') }}" alt="Home Random Image {{ random }}" class="card-image">
    </section>

    <section class="grid-container">
        <div class="grid-item music-icon">
            <a href="{{ getEnv('music_url') }}" target="_blank">
                <h3>Music</h3>
                <p>I don't trust YouTube. I download all my music.</p>
            </a>
        </div>
        <div class="grid-item book-icon">
            <a href="{{ getEnv('book_url') }}" target="_blank">
                <h3>Books</h3>
                <p>Various esoteric books I have read.</p>
            </a>
        </div>
        <div class="grid-item magic-icon">
            <a href="{{ getEnv('game_url') }}" target="_blank">
                <h3>D&D</h3>
                <p>A simple 5E D&D book collection for role playing.</p>
            </a>
        </div>
    </section>
{% endblock %}